@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
.div1{
    padding-top: 16px;
    width: 100%;
    height: 150px;
    background-image: url('adrien-olichon-ilVYjf0J378-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.heading{
    margin-left: 41%;
    font-family: 'Hina Mincho', serif;
    color: white;
    font-weight: 30px;

}
.div2{
    float: left;
    width: 100%;
    height: 600px;
    background-image: url('chuttersnap-Ay5VDmOaKBo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}
#option{
    width: 33%;
    margin: 32%;
}
.option1{
    width: 25%;
}
.result{
    width: 50%;
    height: 350px;
    margin-top: 6%;
    margin-left: 28%;
}
.card{
    width: 60%;
    height: 100px;
    float: left;
    margin-left: 10%;
    
}
.card-title{
    color: black;
}
@media (max-width:400px){
    .heading{
        font-size: 13px;
        margin-left: 35%;
    
    }
    #option{
        font-size: 13px;
    }
    option{
        font-size: 13px;
    }
    .card{
        font-size: 13px;
    }
}
